.popup__field {
  display:inline-block;
  width: 100%;
}

.popup__field:first-of-type {
  margin: 54px 0 30px;
}
  
.popup__field:last-of-type {
  margin-bottom: 48px;
}

@media (min-width: 320px) and (max-width: 424px) {
  .popup__field:first-of-type {
    margin-top: 75px;
  }

  .popup__field:last-of-type {
    margin-bottom: 45px;
  }
}